.Header {
  height: 100vh;
  box-sizing: border-box;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header-Title {
  margin: 0;
  color: hsl(0, 0%, 100%);
  font-size: 36px;
  line-height: 100%;
  display: flex;
  align-items: center;
}

.Header-Bottom {
  padding: 0 20px 40px;
}
