.TopBar-Icon {
  display: block;
  height: 24px;
  width: 24px;
}

.TopBar-Icon--phone {
  background-image: url(../images/icons/Icon-Phone-call.png);
}

.TopBar-Icon--menu {
  background-image: url(../images/icons/Icon-Burger-menu.png);
}

.TopBar-Icon--close {
  background-image: url(../images/icons/Icon-Close.png);
}
