.Nav-List {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Nav-Link {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  align-items: center;
}
