.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  @include contentPaddingInline;

  @include onTablet {
    padding-block: 32px;
  }

  &-Logo--link {
    display: flex;
  }

  &-Logo {
    height: 16px;

    @include onTablet {
      height: 24px;
    }

    @include hover(transform, scale(1.2));
  }

  &-Icons {
    display: flex;
    gap: 24px;
  }
}
